envs

orders-backend/node_modules
orders-backend/Dockerfile

Menu-backend/node_modules
Menu-backend/Dockerfile

operations-frontend
!operations-frontend/src

management-frontend
!management-frontend/public
!management-frontend/src
!management-frontend/package.json
!management-frontend/package-lock.json

Management-Backend/node_modules
Management-Backend/Dockerfile

customer-frontend
!customer-frontend/public
!customer-frontend/src
!customer-frontend/package.json
!customer-frontend/package-lock.json

Customer-Data-Backend
Customer-Data-Backend/src