<div th:fragment="menu" id="menu" class="bg-dark row-1">
    <div class="d-flex w-100 justify-content-around align-items-center">
            <h4 class="nav-item my-3 link">
                <a href="/">
                    <span class="material-symbols-outlined">
                        home
                    </span> Home
                </a>
            </h4>

            <h4 class="nav-item my-3 link"><a href="/viewItems"><span class="material-symbols-outlined">
                        list
                    </span> View Items
                </a>
            </h4>
            <h4 class="nav-item my-3 link">
                <a href="/addItem">
                    <span class="material-symbols-outlined">
                        add
                    </span> Add an Item
                </a>
            </h4>
            <h4 class="nav-item my-3 link"><a href="/viewCategories"><span class="material-symbols-outlined">
                        list
                    </span> View Categories
                </a>
            </h4>
            <h4 class="nav-item my-3 link">
                <a href="/addCategory">
                    <span class="material-symbols-outlined">
                        add
                    </span> Add a Category
                </a>
            </h4>
            <h4 class="nav-item my-3 link">
                <a href="/analytics">
                    <span class="material-symbols-outlined">
                        monitoring
                    </span> View Analytics
                </a>
            </h4>
    </div>
</div>